
body{
    background-color: #D99F7E;
}
#lista-productos{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
}
.producto{
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
    background-color: #8C6A56;
    color: snow;
    padding: 10px;
    text-align: justify;
}
h1{
    text-align: center;
    color: #73273B;
}
.titulo{
    text-align: center;
}

h2{
    text-align: center;
    color: #73273B;
}
.pedido {
    width: 100%;
    display: grid;
    background-color: #73273B;
    margin: 15px;
    width: 80%;
    padding: 10px;
    color: white;
    grid-template-areas:
     "pedido pedido pedido pedido"
     "fecha cliente contacto direccion"
     "items items items items"
     "precio precio precio precio"
     "detalles detalles status status"
     "fechaDeEntregas fechaDeEntregas fechaDeEntrega fechaDeEntrega"
     "eliminar eliminar entregar entregar";
    }
    .pedido__id{
        grid-area: pedido;
    }

    .pedido__fecha{
        grid-area: fecha;
    }

    .pedido__cliente{
        grid-area: cliente;
    }

    .contactoPedido{
        grid-area: contacto;
    }

    .direccionPedido{
        grid-area: direccion;
    }

    .pedido__carrito{
        grid-area: items;
    }

    .pedido__precio{
        grid-area: precio
    }

    .pedido__detalles{
        grid-area: detalles;
    
    }

    .pedido__fechaDeEntrega{
        grid-area: fechaDeEntrega;
        text-align: center;
    }

    .pedido__status{
        grid-area: status;
        text-align: center;
    }

    .pedido__eliminar{
        grid-area: eliminar;
    }

    .pedido__entregar{
        grid-area: entregar;
    }


#form-Stock{
 background-color: #8C6A56;  
 margin: auto; 
 width: fit-content;

}