.list-items{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-around;
}
h1{
    text-align: center;
}
.titulo{
    text-align: center;
}
.items{
    text-align: center;
    background-color: green;
    color: snow;
    display: flex;
    flex-direction: column;
}

.precio{
    color: black;
}

.items p{
    height: 50px;
    width: 100px;
}